* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;    
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background: #ffffff;
    font: 14px/20px Arial, sans-serif;
}

.container {   width: 75%;
  border: 2px solid #ccc;
  background-color: #FFC0CB;
  padding: 16px; 
  margin: 16px auto; 
}

.container img {
  float: left; /* обтекание слева */
  margin-right: 50px; /* пространство между аватаркой и абзацем */
  width: 90px;
}

.container span {
  font-size: 18px;
  margin-right: 15px;
}

.content {
    flex: 1 0 auto;
}
    
h1 {
    padding: 20px 20px 30px;
    font: 60px/1.3 ABOBA, sans-serif;
    text-align: center;
}

h2 {
    padding: 20px 20px 30px;
    font: 35px/1.3 bold, sans-serif;
    text-align: center;
}

h3 {
    padding: 20px 20px 30px;
    font: 50px/1.3 Arial, sans-serif;
    text-align: center;
}

h4 {
    padding: 20px 20px 30px;
    font: 30px/1.3 Arial, sans-serif;
    text-align: center;
}

u6 {
    padding: 20px 20px 30px;
    font: 30px/1.3 Arial, sans-serif;
    text-align: center;
}

p {
    padding: 10px 20px;
    font: 30px/1.3 icon, sans-serif;
    text-align: left;
}

y {
    padding: 100px 750px; 
}

g {
    padding: 100px 170px; 
}

k {
    padding: 100px 700px; 
}

a {
    color: #db3434;
    font: 30px/1.3 icon, sans-serif;
    text-align: right;
}

y {
    color: #db3434;
    font: 35px/1.3 icon, sans-serif;
    text-align: left;
}


header {
    margin:0;
    background: #aaaaaa;
}

footer {
    flex: 0 0 auto;
    height: 80px;
    background: #aaaaaa;
}

@font-face {
	font-family: 'ABOBA'; 
	src: url(GTARussian.ttf); 
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}